<h1>CleanUp Details</h1>
<p>Status: <%= @clean_up.status %></p>
<p>
  <strong>Name:</strong>
  <%= @clean_up.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @clean_up.description %>
</p>

<p>
  <button><%= button_to "Registrierung freigeben", change_status_admin_clean_up_path(clean_up_id: @clean_up.id, change_action: "enable_registration") %></button>
  <button><%= button_to "Starten", change_status_admin_clean_up_path(clean_up_id: @clean_up.id, change_action: "start") %></button>
  <button><%= button_to "Beenden", change_status_admin_clean_up_path(clean_up_id: @clean_up.id, change_action: "end") %></button>
</p>

<p>Participants:</p>
<ul>
  <% @clean_up.participations.each do |participation| %>
    <li><%= participation.participant.name %>, <%= participation.status %></li>
  <% end %>
</ul>