<!-- app/views/shared/_button.html.erb -->

<% type = type || 'button' %>
<% if type == 'submit' %>
  <%= submit_tag label, class: button_classes(color) do %>
    <%# ICON Prop %>
    <%= icon(icon) %>
    <div>
      <%= label %>
    </div>
  <% end %>
<% else %>
  <%= button_to path, class: button_classes(color), method: method || :get do %>
    <%# ICON Prop %>
    <%= icon(icon) %>
    <div>
      <%= label %>
    </div>
  <% end %>
<% end %>